body {
    background: #3c3a3a;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p, input[type="text"], label {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
}