{% extends "base.html" %}
{% block title %}Shukudai{% endblock %}
{% block content %}
    <h2>Welcome to Shukudai</h2>
    <p>Thank you for visiting! Shudukai is a home tracker made by students for students.</p> 
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus erat justo, dictum ut quam sit amet, bibendum tristique lectus. Donec vel interdum odio. Nullam mollis, sem nec condimentum pellentesque, dolor ligula iaculis felis, id ultrices urna risus id elit. Sed elementum dui et purus rhoncus bibendum.</p>
	<p>You can start tracking here:</p>
	<a href="/register.html" class="signUpBtn">Sign up</a>
{% endblock %}